# Copyright 2021 hpmicro
# SPDX-License-Identifier: BSD-3-Clause

bindto 0.0.0.0
adapter speed 1000
adapter srst delay 500

source [find interface/cmsis-dap.cfg]

transport select jtag
#reset_config srst_only
#reset_config trst_only
#reset_config none
